main {
    display: grid;
    align-items: center;

    margin: 1rem 0rem;
    padding: 0rem 1rem;
}

#task_board_wrapper {
    display: grid;
    align-items: center;
    justify-content: center;

    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    border: var(--border-dev);
    border-radius: 1rem;
    padding: 1rem;
}