main {
    display: grid;
    align-items: center;

    margin: 1rem 0rem;
    padding: 0rem 1rem;
}

#task_board_wrapper {
    display: grid;
    align-items: start;
    justify-content: center;

    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    border: var(--border-dev);
    border-radius: 1rem;
    padding: 1rem;
}

/* Media Queries */
@media screen and (max-width: 800px) {
    #task_board_wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}