header {
	display: grid;
	align-self: start;
}

header>h1 {
	margin: 0;
	font-size: 3rem;
	justify-self: center;
}

#add_task_button {
	margin: 0rem 1rem;
	margin-top: 0.5rem;

	height: 5rem;
	border-radius: 1rem;

	font-size: 1.3rem;
	letter-spacing: 3px;

	color: var(--button-color);
	background-color: var(--button-bgcolor);
	border: 1px solid var(--button-color);
	transition: color 0.4s, background-color 0.4s, box-shadow 0.4s;
}
#add_task_button:hover {
	color: var(--button-bgcolor);
	background-color: var(--button-color);
	box-shadow: 8px 8px 10px greenyellow;
	cursor: cell;
}