:root {
  --border-dev: 1px solid black;
}

#root {
  margin: 0;
  padding: 0;
  display: grid;

  min-height: 100vh;
}

/* Media Queries */
@media screen and (max-width: 800px) {
  #task_board_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}