:root {
  --border-dev: 1px solid black;
}

#root {
  margin: 0;
  padding: 0;
  display: grid;

  min-height: 100vh;
}

header {
  display: grid;
  align-self: start;
}

main {
  display: grid;
  align-items: center;
  min-height: 80vh;

  margin: 1rem 0rem;
  padding: 0rem 1rem;
}

footer {
  display: grid;
  justify-content: center;
  align-self: end;
}

/* Header */
header > h1 {
  margin: 0;
  font-size: 3rem;
  justify-self: center;
}

#add_task_button {
  margin: 0rem 1rem;
  margin-top: 0.5rem;
  height: 5rem;
  border-radius: 1rem;
  font-size: 1.3rem;
  letter-spacing: 3px;
}

/* Main */
#task_board_wrapper {
  display: grid;
  align-items: center;
  justify-content: center;

  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  min-height: 95%;
  border: var(--border-dev);
  border-radius: 1rem;
  padding: 1rem;
}

.task_board {
  display: grid;
  justify-items: center;

  border: var(--border-dev);
  border-radius: 0.8rem;

  padding: 1rem;
  height: 90%;
  min-height: 20rem;
}

.task_board_type {
  margin: 0;
  font-size: 1.3rem;
}

/* Footer */
footer {
  padding: 1rem;
}

footer > span {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  background: transparent;
  transition: scale 0.4s, letter-spacing 0.4s, text-shadow 0.4s;
}
footer > span:hover {
  scale: 1.05;
  letter-spacing: 2px;
  text-shadow: 5px 5px 10px greenyellow;
}

/* Media Queries */
@media screen and (max-width: 800px) {
  #task_board_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}