:root {
  --border-dev: 1px solid black;
}

#root {
  margin: 0;
  padding: 0;
  display: grid;

  min-height: 100vh;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}