:root {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --button-color: rgb(0, 0, 0);
  --button-bgcolor: white;
}

body {
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #000000;
    background-color: #ffffff;
  }
}
