:root {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --button-color: rgb(0, 0, 0);
  --button-bgcolor: white;
}

body {
  margin: 0;
  padding: 0;
}

button {
  color: var(--button-color);
  background-color: var(--button-bgcolor);
  border: 1px solid var(--button-color);
  transition: color 0.4s, background-color 0.4s, box-shadow 0.4s;
}
button:hover {
  color: var(--button-bgcolor);
  background-color: var(--button-color);
  box-shadow: 8px 8px 10px greenyellow;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #000000;
    background-color: #ffffff;
  }
}
