#new_task_dialog_bg {
    display: grid;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.5);

    position: fixed;
    width: 100%;
    height: 100vh;
}

#new_task_dialog {
    display: flex;
    flex-direction: column;
    justify-self: center;

    width: 80%;
}