:root {
    --note-border-width: 1px solid;
    --note-border-hover-width: 5px;
}

.note {
    box-sizing: border-box;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: calc((98vw - 12rem)/ 3);
    transition: scale 0.2s, border-width 0.3s, background-color 0.4s;;
}
.note:hover {
    scale: 1.03;
    border-width: var(--note-border-hover-width);
}

.note > cite {
    font-size: 1.3rem;
    font-weight: 700;
    font-style: normal;
}

.note > span {
    font-size: 0.5rem;
    color: gray;
    font-weight: 400;
}

.note > p {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.note_buttons {
    display: flex;
    justify-content: end;
}

.edit_note, .delete_note {
    background: transparent;
    border: 0;
    font-size: 1.3rem;
}

/* Priority Classes */
.priority-highest {
    border: var(--note-border-width) red;
}
.priority-highest:hover {
    background-color: rgba(255, 0, 0, 0.05);
}

.priority-high {
    border: var(--note-border-width) orange;
}
.priority-high:hover {
    background-color: rgba(255, 166, 0, 0.05);
}

.priority-normal {
    border: var(--note-border-width) cornflowerblue;
}
.priority-normal:hover {
    background-color: rgba(100, 148, 237, 0.1);
}

.priority-low {
    border: var(--note-border-width) lightgreen;
}
.priority-low:hover {
    background-color: rgba(144, 238, 144, 0.05);
}

.priority-lowest {
    border: var(--note-border-width) limegreen;
}
.priority-lowest:hover {
    background-color: rgba(50, 205, 50, 0.05);
}

.priority-none {
    border: var(--note-border-width) gray;
}
.priority-none:hover {
    background-color: rgba(128, 128, 128, 0.05);
}

/* Media Queries */
@media screen and (max-width: 800px) {
    .note {
        width: calc((89.5vw - 9rem)/ 2);
    }
}